@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900,100italic,300italic,400,400italic,500italic,700italic,900italic);
/*  #########  LAYOUT WIDGETS #########  */
/* ------------CTA---------------------- */
/* line 15, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.radar-number {
  font-size: 54px;
  font-family: Roboto;
  fill: white;
  word-spacing: 0px; }

/* line 22, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.cta-box {
  margin: 2em 0 !important;
  outline: 1px line #ddd; }

/* ----------  benchmarks ----------*/
/* line 30, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.benchmark {
  border: 1px #ccc solid;
  border-radius: 10px;
  padding-bottom: 1em;
  background: #fff;
  text-align: center; }
  /* line 36, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
  .benchmark span.figures {
    font-size: 3.75em;
    width: 30%;
    margin-top: 0px;
    text-align: right;
    float: left;
    display: block; }
    /* line 43, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
    .benchmark span.figures .highlight {
      color: limegreen; }

/* line 49, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.benchmark-title {
  text-transform: uppercase;
  font-size: 120%;
  margin: 12px;
  width: 60%;
  color: #555;
  float: right;
  text-align: left; }

/* line 59, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.benchmark-tests {
  text-align: left;
  margin-left: 30%;
  font-size: small; }

/* ------------TOOLTIP---------------------- */
/* line 68, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.tip {
  position: relative;
  color: #aaa;
  font-size: 1.15em; }
  /* line 73, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
  .tip:hover .bubble {
    opacity: 1;
    position: absolute;
    transition: opacity 0.5s; }

/* line 80, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.bubble {
  position: absolute;
  transition: opacity 0.5s;
  opacity: 0;
  color: #777;
  top: -9em;
  width: 190px;
  height: 120px;
  padding: 10px;
  border: 1px #eee solid;
  background: #fff;
  border-radius: 10px;
  -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.15)); }
  /* line 94, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
  .bubble li {
    font-size: .8em; }

/* line 99, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.bubble:after {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  z-index: 1;
  margin-left: -15px;
  bottom: -18px;
  left: 87%;
  background-image: url(../img/icons/quote.svg);
  background-size: 100% 100%;
  -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.15)); }

/* ------------MODAL---------------------- */
/* line 118, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.is-reveal-open .blur {
  -webkit-filter: blur(5px) grayscale(1);
  filter: blur(5px) grayscale(1);
  transition: all 1s; }

/* line 125, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.reveal-overlay {
  background-color: rgba(10, 10, 10, 0.65);
  transition: all 1s; }

/* line 130, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.sitepreview {
  width: 100%;
  overflow: visible;
  margin-bottom: 3em;
  text-decoration: none;
  border: 1px #ddd solid;
  background-color: #ECECFB;
  position: relative;
  padding: 5px; }

/* line 141, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 115px;
  height: 155px;
  text-align: right; }

/* line 152, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.ribbon span {
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 150px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px black;
  position: absolute;
  top: 36px;
  right: -29px; }

/* line 171, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A; }

/* line 183, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A; }

/* line 195, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.zoom {
  width: 2em;
  height: 2em;
  background: url(../img/icons/icons-magnify.svg);
  position: absolute;
  bottom: -.33em;
  right: -.33em;
  background-size: 100% 100%; }

/* line 205, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.story {
  padding: 30px 60px 0 60px; }
  /* line 208, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
  .story h3 {
    color: #444;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.25em; }

/* line 215, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.feature-list-bullets {
  list-style: none; }

/* line 219, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.feature-list-bullets li {
  position: absolute;
  font-size: 3em;
  height: 2em;
  width: 100%; }
  /* line 224, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
  .feature-list-bullets li svg {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -51px; }

/* line 232, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
img.icon {
  width: 2em; }

/* line 236, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.feature-list-bullets li:nth-of-type(1) {
  top: 55px; }
  /* line 238, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
  .feature-list-bullets li:nth-of-type(1) .joiner {
    width: 100px;
    right: -100px; }
    /* line 241, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
    .feature-list-bullets li:nth-of-type(1) .joiner svg {
      right: -88px; }

/* line 247, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.feature-list-bullets li:nth-of-type(2) {
  top: 200px; }
  /* line 249, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
  .feature-list-bullets li:nth-of-type(2) .joiner {
    width: 100px;
    left: -100px; }
    /* line 252, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
    .feature-list-bullets li:nth-of-type(2) .joiner svg {
      left: -84px; }

/* line 258, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.feature-list-bullets li:nth-of-type(3) {
  top: 385px; }
  /* line 260, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
  .feature-list-bullets li:nth-of-type(3) .joiner {
    width: 100px;
    right: -100px; }
    /* line 263, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
    .feature-list-bullets li:nth-of-type(3) .joiner svg {
      right: -88px; }

/* line 269, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.feature-list-bullets li:nth-of-type(4) {
  top: 700px; }
  /* line 271, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
  .feature-list-bullets li:nth-of-type(4) .joiner {
    width: 100px;
    left: -100px; }
    /* line 274, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
    .feature-list-bullets li:nth-of-type(4) .joiner svg {
      left: -84px; }

/* line 280, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.pullout {
  background: #fafcfc;
  border: 3px solid #444;
  position: absolute;
  top: 0;
  z-index: 99;
  width: 250px;
  border-radius: 8px;
  padding: 2px 4px; }
  /* line 289, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
  .pullout p {
    font-size: 12px; }

/* line 294, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.pullleft {
  left: -320px; }

/* line 298, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.pullright {
  right: -250px; }

/* line 302, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.feature-list:nth-of-type(2) {
  top: 900px;
  right: 50px; }

/* line 307, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.feature-list:nth-of-type(3) {
  top: 1385px;
  right: 50px; }

/* line 312, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.feature-list:nth-of-type(4) {
  top: 1700px;
  right: 50px; }

/* line 317, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.joiner {
  display: block;
  content: "";
  height: 2px;
  position: absolute;
  top: 46px;
  background: #888; }

/* line 328, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.radar {
  fill: none;
  stroke: #ff7805;
  stroke-width: 4;
  animation: ping 10s infinite; }

/* line 335, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.core {
  fill: #ff7805;
  stroke: #ff7805;
  stroke-width: 4;
  animation: throb 10s infinite; }

/* line 342, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.radar:nth-of-type(1) {
  animation-delay: 300ms; }

/* line 346, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.radar:nth-of-type(2) {
  animation-delay: 200ms; }

/* line 350, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.radar:nth-of-type(3) {
  animation-delay: 100ms; }

@keyframes ping {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  42% {
    opacity: .5; }
  50% {
    opacity: 0; }
  52% {
    opacity: .5; }
  60% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes throb {
  0% {
    opacity: 1; }
  38% {
    opacity: 1; }
  40% {
    opacity: .5; }
  48% {
    opacity: 1; }
  50% {
    opacity: .5; }
  58% {
    opacity: 1; }
  100% {
    opacity: 1; } }

/* ------------SITEFRAME---------------------- */
/* line 405, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.siteframe {
  border: 1px solid grey;
  background-color: #ECECFB;
  position: relative;
  padding: 2px 2px 20px 2px; }

/* line 412, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.siteframe .icon {
  position: absolute;
  bottom: -2em;
  right: -2em;
  width: 2em;
  height: 2em; }

/*  #########  TEXT #########  */
/* line 423, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.title {
  margin: 1em 0; }

/* line 427, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.spaceout {
  margin-top: 2em;
  margin-bottom: 2em; }

/* line 432, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.else {
  background-color: #ECECFB;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  margin-bottom: .5em; }
  /* line 437, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
  .else h4 {
    font-family: 'Source Sans Pro', sans-serif; }
  /* line 440, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
  .else img {
    margin: 0em 35% 0 35% !important;
    width: 30%; }

/* line 446, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.six-things {
  background-color: #ECECFB;
  margin-bottom: 2em; }
  /* line 449, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
  .six-things img.svg {
    margin: 0em 25% 0 25%;
    width: 50%;
    padding: 1em 0; }

/*  ######### LISTS  #########  */
/* line 459, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.attributes {
  font-size: x-small;
  color: #999; }

/* line 464, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.section.section-opaque-dark {
  background-color: transparent; }

/* line 468, /Users/alexmwalker/Documents/Articles-2016/Pingendo/css/style.scss */
.keyline {
  border: 1px #ddf solid;
  padding: 3em 0 6em 0;
  border-radius: 10px;
  background: #fff; }

/*# sourceMappingURL=style.css.map */
